# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Django
db.sqlite3
media/
static_root/

# IDEs
.vscode/
.idea/
data/
img/01/
img/02/
img/03/
img/04/
img/05/
img/06/
index2.html

templates/

astro.config.mjs
package.json
package-lock.json
main.py
remove.py
tsconfig.json
dots.py

.astro/
public/
docs/
dist/
src/
node_modules/

tailwind.config.mjs
package.json
tsconfig.json
z_dial_core.py
astro.config.mjs
jako_vault.db






